@import "palette";
// --------------------- MDC THEME ---------------------*/

// See https://github.com/material-components/material-components-web/tree/master/packages for reference

$mdc-theme-primary: palette(primary6);
$mdc-theme-secondary: palette(primary5);
$mdc-theme-background: palette(neutral1);
$mdc-theme-accent: palette(accent14);

$v-header-background: #263138;
$v-header-color: #839098;

// --------------------- DRAWER ---------------------*/
// See https://github.com/material-components/material-components-web/tree/master/packages/mdc-drawer
$mdc-drawer-width: 216px;

// --------------------- DIALOG  ---------------------*/
// https://github.com/material-components/material-components-web/tree/master/packages/mdc-dialog
$mdc-dialog-z-index: 14;
